<p>
  Creator: {{recipe.creator}}
</p>
{{#link-to "recipe" recipe.id}}Click here for more information!{{/link-to}}
<img
  alt = "single-recipe-image"
  src = {{recipe.image}}
>
<p>
  Ingredients: {{recipe.ingredients}}
</p>
