<div class="ui menu">
  <div class="header item">
    {{#link-to "index"}} Ryan's Recipes! {{/link-to}}
  </div>
  <a class="item">
    {{#link-to "create"}} Create a Recipe! {{/link-to}}
  </a>
  <a class="item">
    {{#link-to "about"}} About Us {{/link-to}}
  </a>
  <a class="item">
    {{#link-to "liked"}} Liked Recipes {{/link-to}}
  </a>
</div>
{{outlet}}
