<div class = "flex">
  {{#each model as |recipe|}}
    <LikeButton
      @like={{recipe.like}}
      @onClick={{action "liked" recipe}}
    />
    <SingleRecipe @recipe={{recipe}} />
  {{/each}}
</div>
{{outlet}}
